{% extends "base.html" %}
{% block title %}{{ app_name }}{% endblock %}
{% block page_content %}
    <div class="page-header">
        <div class="jumbotron">
            <h1>{% if username %}
                Hello, {{ username }}!
            {% else %}
                Hello!
            {% endif %}</h1>
        </div>
        <div class="panel-primary">
            <p>Let's go! Lorem ipsum ... {{ app_name }}</p>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class=flashes>
                            {% for message in messages %}
                                <div class="alert alert-{{ error }}" role="alert">.{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <form class="form-horizontal" action="{{ url_for('index') }}" method=post>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="name" class="form-control" id="username" name="username"
                                   placeholder="{{ username }}">
                        </div>
                        <label for="Password" class="col-sm-2 control-label">Passwort</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Anmelden</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
